@{
    ViewBag.Title = "SignUp";
}
<head>

    <link href="~/contents/signup.css" rel="stylesheet" type="text/css" />
    <title>Developer Xpertize</title>
</head>

<header>
    <div class="title">
        <h1>Developer Xpertize</h1>
        <h5>Hire the best developers for any job, online..</h5>
    </div>

    <div class="main">
        <ul>
            <li><a href="/Customers/CustSignUp">Hire A Developer </a></li>
            <li><a href="/Developers/Create">Earn Money As Developer</a></li>
           
        </ul>
    </div>
    <!--
    <link href="~/Contents/signIn.css" rel="stylesheet" type="text/css" />
    <div align="center" class="btncenter">
        <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false" autocomplete="off">

            <a href="/Customer/CustSignUp" class="btn btn-primary btn-lg disabled" data-toggle="button" role="button" aria-disabled="true">Hire a Developer</a>

        </button>
        <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false" autocomplete="off">
            <a href="/Developers/Create" class="btn btn-primary btn-lg disabled" data-toggle="a" role="button" aria-disabled="true">Earn a Money as Developer</a>
        </button>
    </div>
        -->
</header>

