@model IEnumerable<Developee.Project>

@{
    ViewBag.Title = "Index";
}
<head>

    <link href="~/contents/CustDashboard.css" rel="stylesheet" type="text/css" />
    <title>Devloper Xpertize</title>
</head>
<body>
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li>
                <a href="~/Projects/Create">
                    <span class="glyphicon glyphicon-paste"></span>
                    <span class="title">Post My Project</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="title">Current Project</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-stats"></span>
                    <span class="title">Status</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-bell"></span>
                    <span class="title">Notifications</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-log-out"></span>
                    <span class="title">Signout</span>
                </a>
            </li>
        </ul>

    </div>

</body>




