
@{
    ViewBag.Title = "Success";
}
<link href="~/contents/HomeIndex.css" rel="stylesheet" type="text/css" />
<h2 style="color:green;align-content:center"><b>Congratulations! You have Successfully Selected a Developer For Your Project</b></h2>
<a href="~/Home/Index">BACK TO HOME</a>

