
@{
    ViewBag.Title = "option";
}


<head>

    <link href="~/contents/signup.css" rel="stylesheet" type="text/css" />
    <title>Developer Xpertize</title>
</head>

<header>
    <div class="title">
        <h1>Developer Xpertize</h1>
        <h5>Hire the best developers for any job, online..</h5>
    </div>

    <div class="main">
        <ul>
            <li><a href="~/Developers/developerList">Select A Developer </a></li>
            <li><a href="/BAs/Index">Select A Business Analyst</a></li>

        </ul>
    </div>
    </header>
